{% import "fragments/home/education_entry.html" as edu %}

<section id="education" class="text-(--ink) border-(--border) py-16 px-6 md:px-12 max-w-4xl mx-auto border-t">
	<h2 class="font-serif text-3xl md:text-4xl mb-10">
		Education
	</h2>
	<ol class="border-(--border) relative border-l pl-8">
		{% call edu::education_entry(
			title = "Master of Computer Applications",
			date = "Jul 2025 – Present",
			institution = "MIT World Peace University, Pune",
			score = "CGPA 8.45"
		) %}
		{% call edu::education_entry(
			title = "Bachelor of Computer Applications",
			date = "Aug 2022 – Apr 2025",
			institution = "Sri Balaji University, Pune",
			score = "CGPA 9.14"
		) %}
		{% call edu::education_entry(
			title = "HSC",
			date = "Apr 2022",
			institution = "SNBP, Rahatani",
			score = "Percentage: 74%"
		) %}
		{% call edu::education_entry(
			title = "SSC",
			date = "Apr 2020",
			institution = "Elpro International School",
			score = "Percentage: 85%"
		) %}
	</ol>
</section>